@keyframes animate {
    from {
        background-color:#fcd0cc,
    }
    to {
        background-color:white,
    }
}


.animate {
  animation-name: animate;
  animation-duration: .6s;
}